.row-header{
  margin:0px auto;
  padding:0px auto;
  }
  
  .row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
  }
  
  .footer{
  background-color: #c4e9d7;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  }
  
  
  address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
  }
  
  .navbar-dark {
  background-color: #0937ef;
  }
  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-content {
  flex-grow: 1; /* Allow the main content to grow and take up remaining space */
  padding-top: 20px; /* Example padding for distance between header and content */
  padding-bottom: 20px; /* Example padding for distance between content and footer */
  height: 1500px;
}





